legend {
    background: linear-gradient(to right, #0000ff 0%, #ff66cc 100%);
    border-radius: 13px;
    padding: 10 15 10 15;
    color: whitesmoke;
    font-size: 18px;
}

fieldset {
    margin: 20 50 20 200;
    border: 2px solid rgb(117, 111, 203);
    border-radius: 10px;
    width: 800px;
}

input {
    padding: 8px 200px 8px 8px;
    margin: 5 5 10 5;
    border: 1px solid rgba(206, 197, 197, 0.4);
    border-radius: 5px;
}

#expDate{
        padding: 8px 250px 8px 8px;
}

label {
    margin: 5 5 10 5;
}

td {
    width: 400px;
}

button{
    border:1px solid white;
    border-radius: 8px;
    padding: 10 25 10 25;
    font-size: 16px;
    margin-right: 10px;
    width: 130px;
}

.btnSubmit{
    background: linear-gradient(to right, #0000ff 0%, #ff66cc 100%);
    color: #ffffff;
}
.btnClear{
    background-color: whitesmoke;   
}

*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
