fieldset{
    margin:  50 0 0 300;
    width: 500px;
    border-radius: 12px;
    background-color: lightgrey;
}
legend{
    border: 1px solid black;
    border-radius: 6px;
    background: lightpink;
    padding: 5px;
    color: darkslategray;
}
p{
    color:  red;
    font-size: 14px;
    font-style: bold;
}
button{
    background-color: lightblue;
    color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-left: 200px;
    margin-top: 20px;
}
